.name {
    color: #1C7B81;
    display: inline;
}

.mini {
    width: 60px;
    margin-top: 40px;
}

.desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}

.garden {
    margin-top: 50px;
}

.text {
    width: 313px;
    height: 147px;
    background: rgba(205, 225, 205, 0.56);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    border-right: 0px;
    border-top: 0px;
    boder-left: 0px;
    boder-bottom: 0px;
    font-size: 18px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}