.home {
    align-items: center;
    padding: 100px 0px;
    margin-top: 150px;
}

.logo {
    width: 230px;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}