@import '../../styles/common.scss';
* {
    align-items: center;
}

footer {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 30px;
    font-size: 15px;
    bottom: 0;
}

.footer {
    width: 100%;
    position: absolute;
    min-height: 100%;
}

.footer-top {
    background-color: white;
}

.footer-inner {
    background-color: white;
    margin: 0 auto;
}

.object {
    padding: 5px 22px;
}